@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.skillBlock {
  border: 1px solid $descriptionTextColor;
  @include size(250px, 50px);
  padding: 0 10px;
  @include flex(row, space-between, center, nowrap);
  align-content: space-between;
  background-color: $backgroundComponentsColor;
  border-radius: 3px;
  @media screen and (max-width: 1122px) {
    width: 220px;
  }

  span {
    font-size: 1.1em;
    font-weight: bold;
  }

  .skillIcon {
    @include size(30px, 30px);
  }

  .skillTitle {
    font-family: $titleFontFamily;
    color: $titleTextColor;
  }
}




