@import '../../../common/styles/sass/variables';

.skillBlock {
  border: 1px solid $descriptionTextColor;
  width: 250px;
  height: 50px;
  padding: 0px 10px 0px 10px;
  margin: 45px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bgColor;
  border-radius: 3px;
  @media screen and (max-width: 1466px) {
    width: 200px;
  }
  @media screen and (max-width: 1214px) {
    width: 45%;
    margin: 20px 10px;
  }
  @media screen and (max-width: 1053px) {
    width: 235px;
    margin: 5px auto;
  }

  span {
    font-size: 1.1em;
    font-weight: bold;
  }

  .skillIcon {
    //font-size: 1.5em;
    //line-height: 30px;
    width: 25px;
    height: 25px;
    border: 1px solid $descriptionTextColor;

    path {
      fill: $titleTextColor;
    }
  }

  .skillTitle {
    font-family: $titleFontFamily;
    color: $titleTextColor;
  }
}




