
.hireBlock{
    height: 50vh;
    background-color: #00bcf7;
}

.hireContainer {
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
}

.title{
    background-color: #c729ff;
    font-size: 2em;
}

.button{
    width: 150px;
    height: 40px;
    background: #105cff;
    border: 0;
    font-size: larger;
}
