@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.job {
  @include flex(column, flex-start, center, wrap);
  background-color: $backgroundComponentsColor;
  border-radius: 1px;
  padding: 20px;

  .picture {
    width: 100%;
    min-height: 300px;
    //border: 1px solid #e11111;
    overflow: hidden;

    .img {
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.2s linear;
      @media screen and (max-width: 1549px) {
        min-height: 200px;
      }
      @media screen and (max-width: 500px) {
        min-height: 200px;
      }

      &:hover {
        transform: scale(1.3);
      }
    }

    .buttonsBlock {
      @include flex(row, center, center, wrap);
      height: 100%;
      //border: 1px solid #24ff02;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      background-color: rgba(0, 0, 0, 0.2);

      &:hover {
        opacity: 1;
      }
    }
  }

  .jobInfo {
    width: 100%;

    .jobTitle {
      text-align: center;
      @include text($titleFontFamily, 20px, 1.7em, 600,);
    }

    .description {
      @include text($titleFontFamily, 14px, 1.7em, 400);
      color: $descriptionTextColor;
      text-align: justify;
    }
  }

}