@import '../styles/variables';
@import '../styles/mixins';

.title {
  margin: 0 0 30px;
  @include text($titleFontFamily, 30px, 1.2em, 700);
  color: $titleTextColor;

  .title h2 {
    margin: 0;
  }
}

