.skill {
    width: 250px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 30px 20px 40px 20px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #f748e0;
}

.skillTitle{
    font-family: 'Syne', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;

}

.description {
    font-family: 'Syne', sans-serif;
    color: #999;
    line-height: 1.7em;
    font-size: 14px;
    font-weight: 400;
}