@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.mainBlock {
  padding: 100px 0;
  min-height: 100vh;
  @include flex(row, center, center, nowrap);

  .particles {
    //border: 5px solid #ef0202;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //margin-top: 100px;
    opacity: 0.3;
  }

  .container {
    @include container();
    @include flex(row, center, center, nowrap);
    @media screen and (max-width: 1021px) {
      @include flex(column, center, center, wrap);
    }

    .photo {
      position: relative;
      @include size(350px, 490px);
      //z-index: 1;
      background-size: cover;
      @media screen and (max-width: 1354px) {
        @include size(290px, 410px);
      }
      @media screen and (max-width: 1148px) {
        @include size(300px, 435px);
      }
      @media screen and (max-width: 632px) {
        @include size(250px, 350px);
      }
    }

    .text {
      width: 40%;
      margin-left: 50px;
      position: relative;
      z-index: 0;
      @media screen and (max-width: 1354px) {
        min-height: 390px;
      }
      @media screen and (max-width: 1021px) {
        margin: 50px auto 0 auto;
        width: 70%;

      }
      @media screen and (max-width: 632px) {
        width: 100%;
        min-height: 100%;
      }

      h1, h6 {
        font-family: $titleFontFamily;
        font-size: 70px;
        line-height: 1em;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 0;
        color: $titleTextColor;
        @media screen and (max-width: 1354px) {
          font-size: 50px;
        }
        @media screen and (max-width: 632px) {
          font-size: 42px;
        }
      }

      h6 {
        display: inline-block;
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 2px;
        @media screen and (max-width: 1354px) {
          font-size: 11px;
        }
        @media screen and (max-width: 632px) {
          font-size: 10px;
        }
      }

      .textAboutMe {
        padding: 20px 0;

        span {
          font-family: $titleFontFamily;
          color: $descriptionTextColor;
          text-align: justify;
          text-indent: 30px;
          margin: 0;
          line-height: 1.5;
          @media screen and (max-width: 632px) {
            font-size: 14px;
          }
        }
      }

      .btnDownloadCv {
        @include size(150px, 30px);
        margin: 0 auto;

        a {
          text-align: center;
          font-family: $titleFontFamily;
          font-weight: 500;
          color: $titleTextColor;
          font-size: 18px;
          text-decoration: none;
        }
      }
    }
  }

}




