@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.mainBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .container {
    @include container();
    @include flex(row, center, center, nowrap);

    .photo {
      @include size(350px, 490px);
      background-size: cover;
      @media screen and (max-width: 1193px) {
        @include size(250px, 390px);
      }
      @media screen and (max-width: 890px) {
        @include size(250px, 360px);
      }
    }

    .text {
      max-width: 600px;
      @media screen and (max-width: 1193px) {
        @include size(450px, 390px);
      }
      @media screen and (max-width: 890px) {
        @include size(100%, 100%);
      }

      h1, h6 {
        font-family: $titleFontFamily;
        font-size: 70px;
        line-height: 1em;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: $titleTextColor;
        @media screen and (max-width: 1193px) {
          font-size: 50px;
        }
        @media screen and (max-width: 444px) {
          font-size: 42px;
        }
      }

      h6 {
        display: inline-block;
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 2px;
        @media screen and (max-width: 1193px) {
          font-size: 11px;
        }
        @media screen and (max-width: 444px) {
          font-size: 10px;
        }
      }

      .textAboutMe {
        padding: 20px 0;
        position: relative;
        z-index: 99;

        p {
          font-family: $titleFontFamily;
          color: $descriptionTextColor;
          text-align: justify;
          text-indent: 30px;
          margin: 0px;
          line-height: 1.5;
          @media screen and (max-width: 444px) {
            font-size: 14px;
          }
        }
      }

      .btnDownloadCv {
        position: relative;
        @include size(120px, 30px);
        margin: 0 auto;
      }

      a {
        text-align: center;
        font-family: $titleFontFamily;
        font-weight: 400;
        color: $titleTextColor;
        font-size: 15px;
        line-height: 1.75em;
        position: relative;
        display: block;
        z-index: 99;
        top: 50%;
        transform: translateY(-50%);
        text-decoration: none;
      }
    }
  }
}




