@import '../../common/styles/sass/variables';

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .photo {
    width: 350px;
    height: 490px;
    background-size: cover;
  }

  .text {
    width: 600px;
    border: 1px solid #06ef63;

    h1, h6 {
      font-family: $titleFontFamily;
      font-size: 70px;
      line-height: 1em;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 0px;
      color: $titleTextColor;
    }

    h6 {
      display: inline-block;
      font-weight: 700;
      font-size: 17px;
      letter-spacing: 2px;
    }

    .textAboutMe {
      padding: 20px 0;
      position: relative;
      z-index: 99;

      p {
        font-family: $titleFontFamily;
        color: $descriptionTextColor;
        text-align: justify;
        text-indent: 30px;
        margin: 0px;
        line-height: 1.5;
      }
    }

    .btnDownloadCv {
      border: 1px solid #ef0606;
      position: relative;
      width: 170px;
      height: 70px;
      display: inline-block;
      margin: 0 auto;
      text-decoration: none;
    }

    a {
      text-align: center;
      font-family: $titleFontFamily;
      font-weight: 400;
      color: $titleTextColor;
      font-size: 16px;
      line-height: 1.75em;
      position: relative;
      display: block;
      z-index: 99;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      }
    }
  }





