@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.skillsBlock {
  min-height: calc(100vh - 50px);
  @include flex(row, center, center, nowrap);

  .container {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .skills {
      min-width: 100%;
      @include flex(row, space-between, center, wrap);
      box-sizing: border-box;
      margin: 10px 0 22px 0;

      gap: 100px 40px;
      @media screen and (max-width: 1007px) {
        justify-content: center;
      }
      @media screen and (max-width: 654px) {
        gap: 10px;
      }
    }
  }
}
