@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.burgerNavbar {
  width: 100%;
  height: 100%;

  .burgerBtn {
    color: $titleTextColor;
    @include size(35px, 35px);
    position: absolute;
    top: 0;
    right: 0;

  }

  .burgerNavItems {
    @include flex(column, space-between, center, nowrap);
    height: 0;
    padding: 20px;
    background-color: $bgSecondColor;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    transform: translate(0, -110px);
    transition: 0.7s;
  }

  .show {
    transform: translate(0, 0);
    height: 100px;
  }

  @media screen and (min-width: 444px) {
    display: none;
  }
}