@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.jobsBlock {
  min-height: 80vh;
  background-color: $bgSecondColor;
  padding: 100px 0;

  .container {
    border: 1px solid #1030ff;
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .jobs {
      border: 1px solid #ff1058;
      gap: 20px;
      width: 100%;
      @include flex(row, space-between, flex-start, wrap);
      box-sizing: border-box;
      @media screen and (max-width: 987px) {
        @include flex(row, center, flex-start, wrap);
      }
    }
  }
}





