@import '../../common/styles/sass/variables';

.jobsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 50px 0;

  .jobsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .jobs {
      gap: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: flex-start;
      @media screen and (max-width: 987px) {
        justify-content: center;
      }
    }
  }
}





