@import '../../common/styles/sass/variables';

.jobsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 50px 0;

  .jobsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .jobs {
      border: 1px solid;
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 50px;
      align-items: flex-start;
      @media screen and (max-width: 628px) {
        justify-content: center
      }
    }
  }
}





