
.jobsBlock{
    height: 100vh;
    background-color: #e3f791;
}

.jobsContainer{
    align-items:flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title{
    background-color: #ff4941;
}

.jobs{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}