
.skillsBlock {
    min-height: 100vh;
    background-color: #b6adf7;
}

.skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    background-color: #105cff;
}

.skills {
    border: 1px solid;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width:940px){
    .skills {
        justify-content: center
    }
}