.mainBlock {
min-height: 100vh;
    background-color: #bfffb6;
}

.text{
width: 300px;
    background-color: #bfffb6;
    text-align: center;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: #9df2ff;
}
