@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.header {
  box-shadow: 0 0 13px 1px $titleTextColor;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  @include flex(row, flex-end, center, nowrap);
  height: 80px;
  padding: 0 30px;

  @media screen and (max-width: 444px) {
    height: 40px;
  }
}