@import '../styles/variables';
@import '../styles/mixins';

a {
  @include text($titleFontFamily, 18px, 1.2em, 500);
  color: $titleTextColor;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.active {
  color: $descriptionTextColor;
}