@import '../../common/styles/sass/variables';

.footerBlock {
  min-height: 25vh;
  background-color: $bgSecondColor;

  .footerContainer {
    flex-direction: column;

    .title {
      font-family: $titleFontFamily;
      font-size: 23px;
      line-height: 1.2em;
      font-weight: 700;
      color: $titleTextColor;
    }

    .box {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 380px){
        width: 240px;
      }
    }

    .text {
      color: $descriptionTextColor;
      font-family: $titleFontFamily;
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
}









