@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.footerBlock {
  min-height: 20vh;
  background-color: $bgSecondColor;

  .container {
    @include container();
    @include flex(column, center, center, nowrap);

    .title {
      @include text($titleFontFamily, 23px, 1.2em, 700);
      color: $titleTextColor;
    }

    .box {
      width: 300px;
      @include flex(row, space-between, center, wrap);
      @media screen and (max-width: 380px) {
        width: 240px;
      }
    }

    .text {
      color: $descriptionTextColor;
      font-family: $titleFontFamily;
      margin-top: 25px;
      margin-bottom: 15px;
    }
  }
}









