@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.footerBlock {
  padding: 15px 0;
  @include flex(row, space-between, center, nowrap);

  .container {
    @include container();
    @include flex(column, space-between, center, nowrap);

    .title {
      @include text($titleFontFamily, 23px, 1.2em, 700);
      color: $titleTextColor;
      margin: 0;
    }

    .box {
      width: 300px;
      margin-top: 25px;
      @include flex(row, space-between, center, wrap);
      @media screen and (max-width: 380px) {
        width: 240px;
      }
    }

    .text {
      color: $descriptionTextColor;
      font-family: $titleFontFamily;
      margin-top: 25px;
    }
  }
}









