@import '../../src/common/styles/sass/variables';

.nav {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-right: 50px;

  a {
    font-family: $titleFontFamily;
    color: $titleTextColor;
    font-size: 18px;
    text-decoration: none;
  }
}
