
.footerBlock {
    min-height: 40vh;
    background-color: #969926;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-around;
}

.box {
    border: 1px solid;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    background-color: #c0f6a3;
    width: 30px;
    height: 30px;
}