@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.contactsBlock {
  @include block(100px 0, $bgColor);
  @include flex(row, center, center, nowrap);

  .container {
    @include container();
    @include flex(column, center, center, nowrap);
  }

  .form {
    @include flex(column, center, stretch, nowrap);
    width: 540px;
    margin: 10px 0 22px 0;
    @media screen and (max-width: 680px) {
      width: 100%;
    }

    .inputItem {
      display: flex;
      flex-direction: column;

      .input,
      .textarea {
        background: $bgSecondColor;
        border: 1px solid #4a4a4a;
        box-sizing: border-box;
        @include text(inherit, 15px, 1.5, 400);
        outline: none;
        color: $titleTextColor;
        margin-bottom: 1.2rem;
        border-radius: 2px;

        &:focus {
          border: 1px solid $bgSecondColor;
          transition: all 0.4s ease-in-out 0s;
        }

        &:-webkit-autofill {
          border: 1px solid #4a4a4a;
          -webkit-text-fill-color: #495057;
          -webkit-box-shadow: 0 0 0 1000px $bgSecondColor inset;
          transition: background-color 5000s ease-in-out 0s;
        }
      }

      .input {
        height: calc(1.5rem + .75rem + 2px);
        padding: .4rem 15px;
      }

      .textarea {
        min-height: 160px;
        padding: 15px;
        resize: none;
      }
    }
  }
}
